<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkczxt.selclassserver.mapper.ClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fkczxt.selclassserver.pojo.Class">
        <id column="teacher" property="teacher" />
        <id column="classid" property="classid" />
        <result column="classname" property="classname" />
        <result column="point" property="point" />
        <result column="number" property="number" />
        <result column="time" property="time" />
        <result column="teachername" property="teachername" />
        <result column="selected" property="selected" />
    </resultMap>

</mapper>
